@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #85eff6e9;
    color: #002333;
    cursor: pointer;
}

.tabs-title.active {
    display: block;
    background-color:#c3f4f7e9 ;
    color: #0073a8;
}

.tabs-content .tab-pane {
    display: none;
}
.tabs-content .tab-pane.active {
    display: block;
}
